# Plugin Jar
*.jar

# Excluded
caramelPreventionTabComplete/
Chunky/
CommandAPI/
CoreProtect/
DiscordSRV/
DiscordVerify/
dynmap/
FastAsyncWorldEdit/
GrimAC/
ImageFrame/
ImageMaps/
Images/
JoinerAPI/
lang/
LightCore/
LuckPerms/
MuteSystem-Spigot/
NoCMD/
PlaceholderAPI/
Pl-Hide-Free/
ProtocolLib/
RoseGarden/
spark/
StatusPing/
Themis/
VaultREST/
Votifier/
VotingPlugin/
WorldGuard/
WorldGuard-Towny/

# Plugin Feature
Citizens/saves.yml
Citizens/shops.yml
EconomyShopGUI/transaction-log.txt
Essentials/items.json
EventWar/wars/
InvSeePlusPlus/InvSee++ logs/
LagFixer/hardware_data.json
PlasmoVoice/voice_mutes.json
Skript/variables.csv
Skript/features.sk
TAB/skincache.yml
Veinminer/update/

# Data
*.db
*.bin
.cache/
.users/
userdata/
accounts/
allases/
cache/
regiondata/
backups/
backup/
logs/
history/
data/
Data/
playerData/
users.yml
playerdata.yml
data.yml
userdata.json

# Other
.hopper/
.paper-remapped/
.libraries/
libs/
.vscode/
*.fsh
*.vsh
*.zip